/* ----------------- sidebar ----------------- */
.sidebar{
    background: #fff;
    width: 15%;
    height: 90%;
    position: absolute;
    top: 0;
    border: 1px solid purple;
}
.top-sidebar{
    height: 50px;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: purple;
}
.shortcut-links{
    padding: 80px 0;
    width: 100%;
    align-items:flex-start;
    display: flex;
    flex-direction: column;
}
.shortcut-links .bar a{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    padding-left: 40px;
    font-weight: 600;
}
.shortcut-links a img{
    width: 20px;
    margin-right: 15px;

}
.shortcut-links a p{
    font-size: 10px;
}
.shortcut-links .active:first-child{
    color: #ed3833;
}
/* -----------Small Sidebar------------ */
.small-sidebar{
    /* background-color: purple; */
    /* height: 10px; */
    display: none;
}
.small-sidebar .dasar,
.small-sidebar .menengah,
.small-sidebar .lanjut{
    display: none;
}
